@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-open-sans), sans-serif;


  --color-gradient-green: var(--radial-naaimachine, radial-gradient(144.5% 50% at 50% 50%, #bae2b6 0%, #a5ea9f 100%));
  .bg-gradient-green {
    background: var(--color-gradient-green);
  }
}

@theme {
  --color-primarybackground: #f4f4f4;

  --color-primarygreen-1: #004431;
  --color-primarygreen-2: #dbe6e6;
  --color-primarypink-1: #e8366f;

  --color-primarytext-1: #202020;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Use Exo 2 for headings */

body {
  font-family: var(--font-open-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-exo2), sans-serif;
}
