@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-open-sans), sans-serif;
}

@theme {
  --color-primary-1: #004431;
  --color-primary-2: #e8366f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Use Exo 2 for headings */

body {
  font-family: var(--font-open-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-exo2), sans-serif;
}
